{% extends "layout.html" %}

{% block content %}
	<main class="container signup-section">
    <a href = "{{ url_for('logout') }}" class="btn-primary logout">logout</a>
		{% if user == "D"  %}
		<a href = "{{ url_for('dem_page') }}" class = "btn-primar logouty">Home</a>
		{% endif %}

		{% if user == "L"  %}
		<a href = "{{ url_for('Lec_pageV2') }}" class = "btn-primary logout">Home</a>
		{% endif %}

		<div class="section-content">
        <h2>Rubric</h2>


 <style>
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }


</style>
        <form method="POST" action="/addRubric">


        <table id="theTable">
        <tr>
        <th>Criteria</th>
        <th>Poor</th>
        <th>Satisfactory</th>
        <th>Good</th>
        <th>Totalmark</th>
        </tr>
        <tr>
        <th><input type="text" name="column1" style="width:250px;height:125px;"></th>
        <th><input type="text" name="column2" style="width:250px;height:125px;"></th>
        <th><input type="text" name="column3" style="width:250px;height:125px;"></th>
        <th><input type="text" name="column4" style="width:250px;height:125px;"></th>
        <th><input type="text" name="column5" style="width:250px;height:125px;"></th>
        </table>




        <div class="form-group">
        <div class="input-group">
        <span class="input-group-addon">Choose Assessment: </span>
            <select name="ass_select" class="selectpicker form-control">

              <option value="Assessment 1"> Assessment 1 </option>
              <option value="Assessment 2"> Assessment 2 </option>
              <option value="Assessment 3"> Assessment 3 </option>

            </select>
        </div>
        </div>


        <input class = "btn-primary" type="submit" value="Add More" name="submit">
        <input class = "btn-primary" type="submit" value="Submit" name="submit">


        </div>


        </form>



  </main>
{% endblock %}
