{% extends "layout.html" %}

{% block content %}
		<main class="container signup-section">

    <a class="btn-primary logout">logout</a>

    <div class="section-content">
        <h2>Demonstrator</h2>
        <font size="+1">Details: <br></font>
        <font size="3">Name:  John Doe</font>

        <div class="section-content">
          <img src="http://homepage.physics.uiowa.edu/~sbaalrud/empty_profile.gif" style="width:150px;height:150px;">
        </div>

    </div>

      <div class="section-content" id="class">
      
      		<h2>Welcome to your profile</h2>
          
          <p>Available Actions:</p>

          {% for student in students}

          <a href="{{ url_for('AddMarks_Dem') }}" class="btn-secondary">Add Marks</a>
          <a href="{{ url_for('ViewStudents_Dem') }}" class="btn-secondary">Add Marks</a>
          
	   	
          </div>
  </main>
{% endblock %}
