{% extends "layout.html" %}

{% block content %}

    
   	<main class="container signup-section">

<a class="btn-primary-logout">logout</a>

    <div class="section-content">
        <h2>Unit Overview</h2>
        <font>Lorem ipsum dolor sit amet, postea tincidunt appellantur te pro. Ridens impetus phaedrum his et, mei nibh ullum philosophia ex. Commodo virtute cum no, cum cu percipit interesset. Cum posse ipsum volumus no, democritum suscipiantur ad per. Ad vim deterruisset definitionem, in magna disputando consectetuer cum, quaestio pericula et ius.

Sint vide constituam et sit. Summo aliquid placerat ne nec, vis in dissentias liberavisse, ne pri accumsan deleniti. Posse iisque ornatus sed cu, cum at invenire similique. Torquatos similique id pro, eam in quem autem deleniti, pri justo dicit disputationi in.</font>

    </div>

      <div class="section-content" id="class">
      
      		<h2>Assessments</h2>

          <script>
          function displayUnits() {
              var classes = ["Quiz 1", "Assignment 1", "Assignment 2"];

              for(var i = 0; i < classes.length; i++){
                document.getElementById("class").innerHTML  += "<a href=" + "#" + " class=" + "btn-secondary" + ">" + classes[i] + "</a>";
                document.getElementById("class").innerHTML  += "<p>" + "</p>";
              };
          }
            
            displayUnits();
          </script>
          
	   	
          </div>
  </main>
{% endblock %}
