{% extends "layout.html" %}

{% block content %}
	<main class="container signup-section">
    <a class="btn-primary-logout">logout</a>
    <div class="section-content">
        <h2>FIT2107</h2>
        <font size="+1">Unit Details: <br></font>
        <font size="3">
        <p>This unit focuses on quality assurance issues and techniques in software development projects. It defines software quality and introduces a number of quality assurance measures, including human review and inspection of code and non-code artifacts, as well as execution-based testing. </p>
        Students will apply systematic testing techniques in the context of individual modules and entire systems, using appropriate tools to automate the testing process where possible. Students will systematically document their testing plans and outcomes
        </font>
        
    

    </div>

      <div class="section-content" id="class">
      
      		<h2>Assessments</h2>
          
          <p>Units assessments: </p>

          <script>
          function displayUnits() {
              var classes = ["Project 1", "Mid Semester Test", "Project 2"];
              for(var i = 0; i < classes.length; i++){
                document.getElementById("class").innerHTML  += "<a href=" + "#" + " class=" + "btn-secondary" + ">" + classes[i] + "</a>";
                document.getElementById("class").innerHTML  += "<p>" + "</p>";
              };
          }
            
            displayUnits();
          </script>
          <a class=".btn-add-assess" href=" " >Add Assessment</a>
          </div>
  </main>
{% endblock %}