{% extends "layout.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<main class="container signup-section">
 <div class="section-content">
        <h2> {% print(markStudent.firstname, end=" ") %} 
             {% print(markStudent.lastname) %} 
             {% print(" ") %}</h2>
     
             <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Criteria</th>
              <th class="mdl-data-table__cell--non-numeric">Poor</th>
              <th class="mdl-data-table__cell--non-numeric">Satisfactory</th>
              <th class="mdl-data-table__cell--non-numeric">Good</th>
            </tr>
          </thead>
                 
          {% for i in rubric %}
              <tbody>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric"> {{ i.criteria }} </td>
                      <td class="mdl-data-table__cell--non-numeric"> {{ i.poor }} </td>
                      <td class="mdl-data-table__cell--non-numeric"> {{ i.satisfactory }} </td>
                      <td class="mdl-data-table__cell--non-numeric"> {{ i.good }} </td>
                    </tr>
              </tbody>
          {% endfor %}
                 
        </table>
     
     <h4>Enter a mark</h4>
     
         <!-- Numeric Textfield -->
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
            <label class="mdl-textfield__label" for="sample2">Mark out of {{ rubric.totalmarks }}</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </form>
     
     
 </div>
</main>

<ul class="demo-list-icon mdl-list">
<main class="container signup-section">

<a href = "{{ url_for('logout') }}" class="btn-primary logout">logout</a>


   
  </main>
</ul>

{% endblock %}
