{% extends "layout.html" %}

{% block content %}

<main class = "hero-section">
<div class = "container">
  <div class = "section-content">
     <h2>Select Assessment</h2>
    

     <form action="/selectassess" method="POST" >
        <button class="btn-secondary" type="submit" name="Ass" value="Assessment 1">Assessment 1</button> 
         
         <button class="btn-secondary" type="submit" name="Ass" value="Assessment 2">Assessment 2</button>

         <button class="btn-secondary" type="submit" name="Ass" value="Assessment 3">Assessment 3</button>  


    </form>
  
     <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Assessment 1</th>
                <th class="mdl-data-table__cell--non-numeric">Assessment 1 Feedback</th>
                <th class="mdl-data-table__cell--non-numeric">Assessment 2</th>
                 <th class="mdl-data-table__cell--non-numeric">Assessment 2 Feedback</th>
                <th class="mdl-data-table__cell--non-numeric">Assessment 3</th>
                 <th class="mdl-data-table__cell--non-numeric">Assessment 3 Feedback</th>
            </tr>
          </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric"> 10 </td>
                          <td class="mdl-data-table__cell--non-numeric"> 10 </td>
                          <td class="mdl-data-table__cell--non-numeric"> 10 </td>
                          <td class="mdl-data-table__cell--non-numeric"> 10 </td>
                          <td class="mdl-data-table__cell--non-numeric"> 10 </td>
                          <td class="mdl-data-table__cell--non-numeric"> 10 </td>
                            
                        </tr>
                      </tbody>
        </table>


  </div>




</div>

</main>

{% endblock %}
