{% extends "layout.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<main class="container signup-section">



  <div class = "section-content">
        <h3> {{ markStudent.firstname }} {{ markStudent.lastname }}
              </h3>
              {% if user == "D"  %}
          		<a href = "{{ url_for('dem_page') }}" class = "btn-primary logout">Home</a>
          		{% endif %}

          		{% if user == "L"  %}
          		<a href = "{{ url_for('Lec_pageV2') }}" class = "btn-primary logout">Home</a>
          		{% endif %}

     <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Assessments</th>
                <th class="mdl-data-table__cell--non-numeric">Mark (%)</th>
                <th class="mdl-data-table__cell--non-numeric">Feedback</th>
                <th class="mdl-data-table__cell--non-numeric">Edit Mark</th>
            </tr>
          </thead>

                      <tbody>
                           <form action="/selectassess" method="POST" >
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric"> Assessment 1 </th>
                          <td class="mdl-data-table__cell--non-numeric"> {{markStudent.assessment1 }} </td>
                          <td class="mdl-data-table__cell--non-numeric"> {{ markStudent.ass1feed }} </td>
                          <td class="mdl-data-table__cell--non-numeric">
                            <button class="btn-secondary" type="submit" name="Ass" value="Assessment 1">Assessment 1</button>
                            </td>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric"> Assessment 2 </th>
                          <td class="mdl-data-table__cell--non-numeric"> {{markStudent.assessment2 }} </td>
                          <td class="mdl-data-table__cell--non-numeric"> {{ markStudent.ass2feed }}</td>
                          <td class="mdl-data-table__cell--non-numeric">
                              <button class="btn-secondary" type="submit" name="Ass" value="Assessment 2">Assessment 2</button>
                            </td>
                        </tr>
                      </tbody>

                      <tbody>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric"> Assessment 3 </th>
                          <td class="mdl-data-table__cell--non-numeric"> {{markStudent.assessment3}} </td>
                          <td class="mdl-data-table__cell--non-numeric"> {{ markStudent.ass3feed }}</td>
                          <td class="mdl-data-table__cell--non-numeric">
                                <button class="btn-secondary" type="submit" name="Ass" value="Assessment 3">Assessment 3</button>
                            </td>
                        </tr>
                            </form>
                      </tbody>

        </table>


  </div>



</main>

{% endblock %}
