{% extends "layout.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>


<main class="container signup-section">
  {% if user == "D"  %}
  <a href = "{{ url_for('dem_page') }}" class = "btn-primar logouty">Home</a>
  {% endif %}

  {% if user == "L"  %}
  <a href = "{{ url_for('Lec_pageV2') }}" class = "btn-primary logout">Home</a>
  {% endif %}

    <div class="section-content">
        <h1> {{ requiredClass }} </h1>
        <h2>Students</h2>

           <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">First Name</th>
                <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                <th class="mdl-data-table__cell--non-numeric">Class</th>
                <th class="mdl-data-table__cell--non-numeric">Groups</th>
                <th class="mdl-data-table__cell--non-numeric">Mark</th>
            </tr>
          </thead>
                {% for student in students %}
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">  {{ student.firstname }} </td>
                          <td class="mdl-data-table__cell--non-numeric"> {{ student.lastname }} </td>
                          <td class="mdl-data-table__cell--non-numeric"> {{ student.classes }} </td>
                            <td class="mdl-data-table__cell--non-numeric"> {{ student.groups }} </td>
                          <td class="mdl-data-table__cell--non-numeric"> <form action="/ViewStudents_Dem" method="POST" >
                        <button class="btn-primary" type="submit" name="Mark" value="{{  student.email  }}">
                        Mark
                        </button> </form> </td>

                        </tr>
                      </tbody>
                {% endfor %}
        </table>

    </div>
  </main>
    <main class="container signup-section">
        <a href = "{{ url_for('logout') }}" class="btn-primary logout">logout</a>
    </main>

{% endblock %}
